.container {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 40px;
    padding: 30px 20px;
}

.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.red {
    color: red;
}